body{
    font-family: "Helvetica";
}
main{
    display:inline-block;
}
.simple-container{
    margin-top: 1%;
    margin-bottom: 8%;
}


.dropdown-container{
    overflow: hidden;
    transition: all .3s ease;
}
.dropdown-small{
    max-height: 0px;
}
.dropdown-full{
    max-height: 200px !important;
}